@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root {
    --blue: #4B68FF;
  }

*{
    margin: 0;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
}
.app-container{
    height: fit-content;
}

.nav-container{
    background-color: var(--blue);
    width: fit-content; 
    height: 170vh;
    float: left;
    display: block;
    animation: .75s ease-out 0s 1 slideInFromLeft;
    justify-content: center;
}

.chart-container{
   margin-bottom: 300px;
   width: 50vw;
   max-width: 600px;
   margin: 125px auto;
   transform: translateX(165.3px);
   
}

.nav-container > h1{
    
    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.095em;
    margin: 25px;
    color: #FFFFFF;
}

.select-input{
    background-color: #FFFFFF;
    width: 270px;
    height: 40px;
    margin: 25px;
    margin-top: 40px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: large;
    color: var(--blue);
    outline: none;
}

.select-item{
    color: rgba(245, 245, 245, 0.89);
    text-align: center;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: auto;
    margin-top: 10px;
    z-index: 0;
    cursor: pointer;
    border-radius: 20px;
   
}
.match-list-container{
    margin-top: 10px;
}

.select-item:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: blue;

}

.city-name{
    color: rgb(75, 104, 255);
    text-align: center;
    top: 30px;
    position: relative;
    font-size: 40px;
    font-weight: 600;
}

.weather-stats{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;  
    gap: 50px;
    justify-content: center;
}

.day-card-container{
    animation: 1s ease-out 0s 1 slideInFromRight;
    width: 20vw;
    background-color:var(--blue);
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.5);
}

.day-card-container:hover{   
    margin-bottom: -3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.096);
}

.day-card-container > p{
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: left;
    margin: 3px auto;
    font-size: large;
}

.day-card-container > h2.day-name{
    font-size: xx-large;
    margin-top: 10px;
}

.weather-icon{
    margin-top: -25px;
}

.day-card-container > p.desc{
    text-align: center;
    margin-top: -40px;
    margin-bottom: 15px;
 
    font-size: x-large;
}

.day-card-container > h2{
    color: white;
    font-weight: bold;
}

.footer{
  
    clear: both;
    position: relative;
    height: 120px;
    margin-top: -120px;
    background-color: #4B68FF;
    align-content: center;
    overflow: hidden;
}

.disclaimer{
    display: block;
    text-align: center;
    color:white;
    padding-top: 20px;
    font-size: x-large;
    transform: translateX(165.3px);
}

.api-disclaimer{
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    font-family: Roboto Condensed;
    text-decoration: underline;
    transform: translateX(165.3px);
}

.icon-disclaimer{
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-family: Roboto Condensed;
    transform: translateX(165.3px);
}

.icon-disclaimer > a{
    color: rgb(255, 255, 255, 0.9);
    text-decoration: none;
    font-style: italic;
    text-decoration: underline;
}

@keyframes slideInFromLeft {
    0% {
       
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(500%);    
    }
    100% {
        transform: translateX(0);
    }
}


